name: Run unitest on push and pull request

on:
  push:
  pull_request:

jobs:
  unitest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
      with:
        go-version: '1.24.3'
    - run: |
        ./unitest.sh
