name: Run unitest on push and pull request

on:
  push:
  pull_request:

jobs:
  unitest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version: '1.25.6'
    - run: |
        ./unitest.sh
